@import "colors";
.search-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
}

.search-input {
  flex-grow: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;

  &:focus {
    outline: none;
    border-color: $blue;
  }
}

.search-button {
  background-color: $blue;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-left: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: $bluedark;
  }
}

@media (max-width: 700px) {
  .search-wrapper {
    flex-direction: column;
    align-items: flex-start;

    .search-input {
      width: 100%;
      margin-bottom: 10px;
    }

    .search-button {
      width: 100%;
    }
  }
}
